<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="@{/script/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/script/showMeTheVesselCount.js}"></script>
</head>

<body>
	<input type="text" id="searchPort">
	<input type="button" id="searchBtn" value="검색">

	<p>대기중인 선박</p>
	<table border="1" id="waiting">
		<tr>
			<th>선박 타입</th>
			<th>대수</th>
		</tr>
			<!-- 대기 선박 자료-->
	</table>
	
	<p>작업중인 선박</p>
	<table border="1" id="working">
		<tr>
			<th>선박 타입</th>
			<th>대수</th>
		</tr>
			<!-- 작업 선박 자료-->
	</table>
	
	<p id="vesselMessage"></p>
</body>

</html>